@use '../../assets/variables' as v;

.route-list-filter {
  .form-group {
    label {
      margin-right: .75rem;
    }

    select {
      font-family: inherit;
      height: 30px;
      width: 240px;
      padding: 0 .4rem;
      border: 1px solid v.$dark-color;
      border-radius: 4px;
      margin-right: 3rem;
    }
  }
}

@media only screen and (max-width: 1020px) {
  .route-list-filter .form-group select {
    margin-bottom: 1rem;
    width: 100%;
  }
}